/* CSS reset property */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,a,ul,li {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 34px;
}

P {
    font-size: 18px;
}
/* overall h2 tag style here */
h2{
    width: fit-content;
    color:#04353D;
    font-size: 28px;
    text-align: center;
    margin: 40px auto 60px;
    position: relative;
}
h2::after{
    text-align: center;
    margin: auto;
    content: "";
    width: 75%;
    height: 2px;
    position: absolute;
    bottom:-5px;
    left: 0;
    background-color: rgb(75, 182, 209);
}

/* root element for color */
:root {
    --red: red;
    --text-white: white;
    --primary: #04353D;
    --lightblue: rgb(75, 182, 209);
}
/* loading Animation */

.index-body {
    animation: overflow 1s backwards;
}

@keyframes overflow {
    100% {
        overflow: hidden;
    }
}

.main-container, .call-us {
    animation: hidden 1s backwards;
}

@keyframes hidden {
    0% {
        display: none;
        opacity: 0;
    }

    100% {
        opacity: 1;
        display: none;
    }
} 
.move{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    animation: loading-animation 1s ease-out forwards;
    z-index: 100;
    overflow: hidden;
    /* background-color:#1a2a44; */
    background-color: white;
}
@keyframes loading-animation {
100% {
    display: none;
}
}
.move img {
    width:20%;
    height:auto;
    object-fit: cover;
    position: relative;
}

/* call us bottom in the corner */
.call-us {
    padding: 8px 15px;
    background-color: var(--red);
    position: fixed;
    border-radius: 50%;
    right: 20px;
    bottom: 30px;
    box-shadow: 0 0 5px white, 0 0 10px black;
    z-index: 99;
    transition: all 300ms;
    animation:call 300ms 3s 1 backwards;
    a i {
        animation: horizontal-shaking 300ms 3 4s;
        color: var(--text-white);
        padding: 0;
        margin: 0;
    }
}
@keyframes call {
    0%{
    transform: translateX(200px);
    }
    90%{
        transform: translateX(100px);
    }
}
.call-us:hover {
    scale: 1.1;
}

@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}

/* top message on the call-us Button */
.call-us::before {
    content: 'If Emergency Hit The Call Button !';
    position: absolute;
    width: 120px;
    right: 0%;
    top: -200%;
    text-align: center;
    font-size: 16px;
    color: var(--text-white);
    font-weight: bold;
    background-color: var(--red);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 99;
    border-collapse: collapse;
    border-bottom-right-radius: 10px;
    animation: hide 100ms;
    animation: horizontal-shaking 300ms 3 4s, hide 100ms 10s forwards,index 6s 1 backwards;
}

@keyframes hide {
    100% {
        scale: 0;
        top: -20%;
        left: -50%;
    }
}

/* small box for message box effect */
.call-us::after {
    content: '';
    width: 20px;
    height: 20px;
    right: 30%;
    top: -68%;
    background-color: var(--red);
    position: absolute;
    transform: rotate(45deg);
    z-index: 100;
    border-radius: 3px;
    animation: horizontal-shaking-box 300ms 3 4s, hide-box 100ms 10s forwards,index 6s 1 backwards;

}

@keyframes hide-box {
    100% {
        scale: 0;
        top: -20%;
        left: -10%;
    }
}

@keyframes horizontal-shaking-box {
    0% {
        transform: translateX(0) rotate(45deg)
    }

    25% {
        transform: translateX(5px) rotate(45deg)
    }

    50% {
        transform: translateX(-5px) rotate(45deg)
    }

    75% {
        transform: translateX(5px) rotate(45deg)
    }

    100% {
        transform: translateX(0) rotate(45deg)
    }
}

/* call us button end*/

/* book an appointment Session */
.book-appointment a {
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
    animation: book 2s infinite;
    color: transparent;
    background: linear-gradient(to right, black 50%, white 50%);
    background-clip: text;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.book-appointment a:hover {
    background-position: left ;
}
.book-appointment {
    padding: 15px;
    text-align: center;
    background-color: rgb(75, 182, 209);
    position: relative;
}
.book-appointment .appointment{
    width: 50%;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    animation:up-down 1s 1s ease-out both;
    top: -1000%;
    z-index: -1;
}
@keyframes up-down {
    0%{
        top:100%;
    }
    100%{
        top: -1000%;
        display: none;
    }
}




/* header */
header {
    min-height: 10vh;
    color: var(--primary);
    box-shadow: 0 0px 10px black;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 999;
    border-radius: 0 0 5px 5px;
    animation:index 6s 1 backwards;
}

header a {
    color: #04353D;
    text-decoration: none;
 
}

header h1 {
    transition: all 300ms;
    animation:index 6s 1 backwards;

}

header a:hover h1 {
    color:rgb(75, 182, 209);
}

/* nav bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* logo section */

.logo {
    display: flex;
    align-items: center;
    animation:index 6s 1 backwards;
}

.logo img {
    width: 40px;
    display: block;
 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    animation:index 6s 1 backwards;
}
@keyframes index {
    0%{
        z-index: -2;
    }
}
nav li a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(75, 182, 209);
    transition: all 300ms;
    font-weight: 500;
}

nav li a:hover {
    color: var(--primary);

}

.dropdown-ck {
    display: none;
}

li .dropdown-ck:checked+.inside-ul-wrapper {
    display: none;
}

a .label:checked {
    color: red;
}

.inside-ul {
    display: flex;
    gap: 2px;
    flex-direction: column;
    position: absolute;
    left: -25%;
    top: 135%;
    border-radius: 10px;
    background-color: rgb(75, 182, 209);
}

.inside-ul li {
    padding: 10px 20px;
    text-align: center;
    align-self: center;
    margin: 0 10px;
    line-height: 1em;

    a {
        color: white;
    }

}
.inside-ul::before {
    content: '';
    width: 26px;
    height: 26px;
    background-color: rgb(75, 182, 209);
    position: absolute;
    top: -10px;
    left: 40%;
    transform: rotate(45deg);
    border-radius: 4px;
}
.fa-bars {
    display: none;
    
}

#menu-bar {
    display: none;
}
     
.nav-mobile-view {
    display: none;
}

/* hero section */
.hero img {
    width: 100%;
    max-height: 84vh;
    object-fit: cover;
    object-position: center;
}


/* award section */
.award {
    text-align: center;
    padding: 30px 0px;
}

.award img {
    width: 100px;
    text-align: center;
    margin: 20px 30px 10px;
}

/* take-care section */
.take-care-container{
    display: flex;
}
.take-care-text{
    flex-basis: 100%;
    padding:10px 20px;
}
.take-care-img{
    flex-basis:80%;
    padding:10px 20px;
    align-self: center;
    justify-self: center;
    img{
        width: 100%;
        height: auto;
    }
}

.take-care-text-wrapper div{
    padding: 20px 30px;
    border-radius: 5px;
    margin: 15px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    img{
        width:80px;
        display: block;
        margin: 0px auto 20px;
        padding: 10px 20px;
        border-radius:10px;
        /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
        box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
    } 
    h3{
        font-size: 24px;
        margin: 10px 0;
    }
    p{
        font-size: 16px;
        line-height: 2em;
    }
}

/* center of excellence */
.coe {
    margin: 80px 0;
    /* text-align: center; */
    padding: 30px 10px;
    background-color: rgba(75, 182, 209, 0.1);
}

.coe-container {
    margin: 60px 20px 20px;
    display: grid;
    gap: 40px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20px, 100px));
}

.coe-container a h3 {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
    color: rgb(0, 73, 91);
}

.coe-container a {
    text-decoration: none;
}

.coe-container img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px;
    align-self: center;
    transition: all 300ms;
}

.coe-container div:hover {
    img {
        border: 2px solid rgb(255, 255, 255);
    }

    h3 {
        color: rgb(0, 0, 0);
    }
}

.coe-container div {
    transition: all 300ms;
}

.coe-container div:hover {
    scale: 1.1;
    cursor: pointer;

    img {
        filter: invert(100);
        background-color: rgb(140, 112, 101, 0.5);
        animation: filp 300ms alternate;
    }
}

@keyframes filp {
    50% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(0);
    }
}

/* more section */
.more-wrapper{
    display: flex;
}
.more-container{
    width: 80%;
    margin: 20px auto;
}

.more-wrapper-2>div:last-child{
    order: -1;
}
.more-text{
    flex-basis: 100%;
}
.more-img{
    flex-basis: 100%;
    img{
        width: 100%;
        height: 100%;
    }
}
.more-wrapper .more-text{
    h3{
        font-size: 24px;
        margin: 20px;
    }
    p{
        margin: 20px;
        line-height: 2em;
    }
}


.covid h1 {
    text-align: center;
    margin: 20px auto;
}

/* overall p tag style here */
.covid p,
.vision p,
.about-us p {
    margin: 30px 60px;
    font-size: 18px;
    line-height: 2em;
}

.covid {
    margin: 80px 0;
}

/* doctor sction here */
.doctor-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,300px));
    justify-content: center;
    margin: 30px auto;
    gap: 20px;

}
.doctor{
    text-align: center;
    background-color: rgba(75, 182, 209, 0.2);
    padding: 20px;
    border-radius: 5px;
    transition: all 300ms;
}
.doctor-section{
    margin: 80px auto;
}
.doctor img {
    width: 100%;
    justify-self: center;
    transition: all 300ms;
}
.doctor-img{
    position: relative;
    overflow: hidden;
}
.doctor:hover{
    background-color: rgb(75, 182, 209);
}
.doctor:hover a{
    bottom:10px;
}
.doctor:hover img{
    scale: 1.05;
}
.doctor-img a{
    padding: 10px 20px;
    background-color: rgb(0, 73, 91);
    text-decoration:none;
    color: white;
    font-size: 16px;    
    position: absolute;
    bottom:-100px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 300ms;
    &:hover{
        transform: translateY(-5px) translateX(-50%);
    }
}
.doctor h4 {
    font-size: 24px;
    margin: 20px 0 0;
}

.doctor h6 {
    font-size:16px;
    color: #04353D;
    margin: 10px 0;
}

.doctor p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.5em;
}

/* info */
.info{
    padding: 30px;
    background:url("./img/slider-bg-1.jpg") no-repeat center fixed;
    background-size: cover;
}

.info-wrapper{
    padding: 20px 30px;
    margin: 30px 0;
    border-radius:10px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px white;
    width: 50%;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}
.info-wrapper-2{
    transform: translateX(0); 
}
.info-img{
    background-color: white;
    border-radius: 50%;
    width: fit-content;
    padding: 20px;
    margin: auto;
}
.info-text{
    color: white;
    h3{
        font-size: 24px;
        margin: 10px 0;
    }
    p{
        line-height: 2em;
    }
}



/* contact us information */
.contact {
    padding: 20px 60px;
    background-color: rgba(75, 182, 209, 0.503);
}

.contact h1 {
    margin: 30px;
}

.contact-us {
    display: flex;
}

.contact-info {
    flex-basis:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    gap: 30px;
    padding: 20px 0;
}

.contact-info .address,
.phone {
    flex-basis:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    /* box-shadow: 0 0 10px black; */

    i {
        border-radius: 50%;
        border: 2px solid;
        width: fit-content;
        padding: 10px;
        font-size: 20px;
        color: white;
        box-shadow: 0 0 5px black, 0 0 10px white;
    }
}

.phone {
    padding: 20px 25px;
}

/* contact form  */
.contact-form {
    padding: 20px 0 10px 30px;
}

.contact-form input,
textarea,
button {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
}

.contact-form input:focus,
textarea:focus {
    box-shadow: 0px 0px 5px black, 2px 2px 20px white;
}

.contact-form label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 5px;
}

.name,
.mail {
    display: flex;
    gap: 10px;
}

.fname,
.lname,
.email,
.form-phone {
    flex: 1;

    input {
        width: 90%;
    }
}

textarea {
    margin: 20px 0 10px;
    display: block;
    width: 95%;
    resize: none;
}

button {
    color: white;
    margin: 20px 0 10px;
    font-weight: bold;
    padding: 8px 40px;
    background-color: var(--primary);
    transition: all .5s ease-out;
}

button:hover {
    background-color: white;
    color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Book An Appointment */

.appointment {
    width: 60%;
    padding: 20px 60px;
    margin: 80px auto;
    border-radius: 5px;
    box-shadow: 0 0 5px white, 2px 2px 10px black;
    border: 2px solid rgb(75, 182, 209);

    h1 {
        font-size: 34px;
        text-align: center;
        margin: 10px auto 40px;
    }
}

.appointment input,
select {
    display: block;
    margin: 30px 0 10px;
    width: 100%;
    border: 1px solid rgb(197, 197, 197);
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
}

.appointment button {
    width: 100%;
    margin: 20px 0 15px;
}

/* Hospital Department Section */
.department-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,300px));
    justify-content: center;
    margin: 30px 10px;
    gap: 40px;

}
.department{
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid gray;
    transition: all 300ms;
}
.department:hover{
    cursor: pointer;
    background-color: rgba(75, 182, 209,.2);
    img{
        opacity: .5;
    }
}
.department-img{
    background-color: black;
}
.department-img img{
    width:100%;
    transition: all 300ms;
}
.department-text{
    padding:20px 10px;
    h4{
        font-size: 20px;
        margin:0px auto 10px;
    }
    p{
        font-size: 16px;
    }
}


/* who we are we section */
.map-container {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

iframe {
    width: 40%;
}

.map-text {
    width: 40%;
    text-align: center;
    line-height: 1.5em;
    h2{
        margin-top: 0;
        margin-bottom: 20px;
    }
}

/* footer */
footer {
    background-color: rgba(75, 182, 209, 0.503);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    h1 {
        margin: 30px auto 20px;
        font-size: 26px;
    }
}

footer ul {
    list-style: none;

    a {
        text-decoration: none;
        font-size: 18px;
        display: block;
        text-align: center;
        margin: 20px auto;
        color: var(--primary);
    }

    a:hover {
        color: var(--text-white);
    }
}

footer [class*=footer] {
    flex-basis: 210px;
}

.container-fluid>h4 {
    font-size: 24px;
}

.active {
    color: var(--primary);
    border-bottom: 2px solid;
}

/* about us page */
.about-us h1 {
    color: var(--primary);
    border-bottom: 2px solid;
    width: fit-content;
    margin: auto;
    padding: 4px 10px;
}

.hero {
    position: relative;
}

.hero .about-us-h1 {
    font-size: 64px;
    position: absolute;
    top: 40%;
    left: 40px;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-shadow:  6px 6px 1px black;
}
.vision-container, .mission-container{
    display: flex;
    margin: 30px auto;
}
.vision-text,.mission-text{
    flex-basis: 100%;
    padding: 10px 20px;
}
.vision-img,.mission-img{
    flex-basis: 100%;
    img{
        width: 90%;
    }
}
.mission-img{
    order: -1;
}

/* treatment page */
.treatment {
    margin: 30px 0;
}

.treatment p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.5em;
}

.treatment-image {
    text-align: center;
    padding: 30px 60px;
}

.treatment-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: fill;
    box-shadow: 0 0 10px black;
}

.bg-lightblue {
    background-color:rgba(75, 182, 209, 0.2);

    .treatment-text {
        order: -1;
    }
}

/* clinics */
.clinics-container {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

iframe {
    width: 40%;
}

.clinics-text {
    width: 40%;
    line-height: .75em;

    .col {
        margin-bottom: 20px;
    }
}

.clinics-row {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 20px;
}

.clinics {
    padding: 20px;
}

.bg-clinics {
    background-color: var(--lightblue);

    .clinics-text {
        order: -3;
    }
}

/*scroll animation */

/* main>*{
    animation: scroll linear;
    animation-timeline: view(10% 0%);
    animation-range: entry 0 cover 10%;

}

@keyframes scroll {
    from {
        clip-path: inset(100% 100% 0 0);
        opacity: .5;
    }

    to {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
} */

/* media query for screen size maximun width 1000px */
@media screen and (max-width:1000px) {
    .treatment {
        display: block;
        color: white;
    }

    .treatment p::selection,
    .treatment h1::selection {
        background-color: black;
    }

    .treatment-image {
        display: none;
 }
 .take-care-container{
    flex-wrap: wrap;
}
.take-care-img{
    flex-basis: 100%;
text-align: center;
img{
    width: 60%;
}
}

    #oncology {
        background:black url('./img/ongology.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #cardiology {
        background: var(--primary) url('./img/cardiac.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #nephrology {
        background: var(--primary) url('./img/Nephrology.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #orthopedics {
        background: var(--primary) url('./img/Orthopedics.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #neurology {
        background: var(--primary) url('./img/neurology.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #gastroenterology {
        background: var(--primary) url('./img/gastroenterology.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #BariatricSurgery {
        background: var(--primary) url('./img/Bariatric\ Surgery.jfif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .more-container{
        width: 90%;
    }
}


/* media query for maximun width:768px */
@media only screen and (max-width:768px) {
    .move img {
        width: 50%;
    }
    .fa-bars {
        display: block;
        cursor: pointer;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        min-height: 84vh;
        text-align: center;
        background-color: white;
        position: absolute;
        left: -800%;
        top: 100%;
        transition: all 1s;
    }

    #menu-bar:checked+ul {
        left: 0;

        a {
            color: rgb(0, 73, 91);
        }

        .nav-mobile-view {
            display: block;
        }

        .dropdown-li {
            display: none;
        }
    }
    .coe h1,
    .award h1,
    .covid h1 {
        font-size: 26px;
    }

    /* overall p tag style here */
    .covid p,
    .vision p,
    .about-us p {
        margin: 30px;
    }

    .award img {
        width: 80px;
        text-align: center;
        margin: 20px 30px;
    }

    .contact {
        padding: 20px;
    }

    .contact-info {
        flex-direction: row;
        align-items: normal;
        flex-wrap: wrap;
        /* flex-basis: 100%; */
    }

    .contact-us {
        display: block;
    }

    .map-container {
        flex-direction: column;
    }

    .map-text {
        order: -1;
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    .clinics-container {
        flex-direction: column;
        margin: 20px;
    }

    .clinics-bg-text {
        order: -1;
        width: 100%;
    }

    iframe {
        width: 100%;
    }

    .clinics-text {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;

        .clinics-row {
            margin: 0;
        }
    }

    .bg-clinics {
        .clinics-text {
            order: 2;
        }
    }

    .appointment {
        width: 80%;
        padding: 20px 30px;
    }
    .take-care-img{
        flex-basis: 100%;
    text-align: center;
    img{
        width: 80%;
    }
}
    .more-wrapper{
        display: block;
        padding:0px 40px 20px;
    }
    .book-appointment .appointment{
        width: 70%;
    }
    .info-wrapper{
        width: 70%;
    }
    .info-wrapper-2{
        transform: translateX(-50%);
    }
    .vision-container, .mission-container{
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .mission-img{
        order: 2;
    }

}

@media only screen and (max-width:500px) {

    .name,
    .mail {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    textarea {
        width: 90%;
    }

    .container-fluid>h4 {
        font-size: 16px;
    }

    .clinics-text {
        gap: 10px;
    }

    .appointment {
        margin: 40px auto;
        width: 90% !important;
        padding: 20px 10px !important;

        h1 {
            font-size: 24px;
        }
    }

    .hero .about-us-h1 {
        font-size: 34px;
        left: 20px;
        top: 30%;
    }
    .take-care-text-wrapper div {
        padding: 20px;
    }
    .take-care-text {
        flex-basis: 100%;
        padding:0;
    }
    .take-care-img {
        img {
            width: 80% !important;
        }
    }
    .take-care h2{
        font-size: 20px !important;
    }   
    .take-care-img{
    order: -1;
    }
    .book-appointment .appointment{
        width: 90%;
    }
    .info-wrapper{
        width: 100%;
        position: static;
        transform: translateX(0) !important;
    }
    .fa-bars{
    &::before{
        animation:index-1 1.8s 1 backwards;
        }
    }
        @keyframes index-1 {
            0%{
              opacity: 0;
            } 
            100%{
               opacity: 0;
            }
        }
}